@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.reward {
  background-color: $peach;

  &__group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    &--hidden {
      display: none;
    }
  }

  &__name {
    @extend .button;
    width: 100%;
    margin-bottom: 1rem;
    background-color: $banane;

    &--active {
      @extend .button;
      width: 100%;
      margin-bottom: 1rem;
      background-color: $tangerine;
      color: $banane;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__textarea {
    height: 10rem;
  }

  &__button {
    align-self: center;
  }
}
