// Breakpoints for Responsive Design
$tablet: 768px;
$desktop: 1280px;

// Brand Colors
$tangerine: #ec4e20;
$peach: #FFABAB;
$banane: #FFFEF8;
$berry: #052F5F;
$kiwi: #84732B;

// Font Weight 
$black: 900;
$extra-bold: 800;
$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;
$extra-light: 200;
$thin: 100;

