@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.homepage {
    justify-content: center;
    background-color: $peach;

    &__tagline {
        margin-bottom: 4rem;
        color: $tangerine;
    }

    &__button {
        margin-bottom: 1rem;
    }
}
