@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.signup {
  &__form {
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2.5rem;
  }

  &__label {
    align-self: flex-start;
  }

  &__input {
    color: $berry;

    &::placeholder {
      color: $peach;
      font-weight: $regular;
    }

    &:focus {
      outline: none;
      border: solid 2px $berry;
    }

    &--valid {
        border: solid 2px $berry;
    }
  }

  &__error {
    position: absolute;
    color: $tangerine;
    top: 7rem;
    left: 1rem;
    font-weight: $regular;
  }
}
