@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;


.habit-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__input {
    text-transform: capitalize;
  }

  &__frequency {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  &__num {
    width: 30%;
  }

  &__select {
    padding: 1rem;
    width: 70%;
  }

  &__weekdays {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
  }

  &__day{
    @extend .button-mini;
    background-color: $peach;
    padding: 0;
    width: 2.5rem;
    height: 2rem;
    font-size: .75rem;
    cursor: pointer;

    &--selected {
      background-color: $tangerine;
      color: $banane;
      border-radius: 30px;
      border: none;
      font-size: .75rem;
      width: 2.5rem;
      height: 2rem;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  &__date {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
  }

  &__button {
    align-self: center;
    width: 120%;
  }
}
