@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.edit-goal {
  background-color: $peach;

  &__form {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &__label {
    padding-bottom: 1rem;
  }

  &__textarea {
    height: 10rem;
  }

  &__time {
    display: flex;
    gap: 2rem;
  }

  &__select {
    width: 10rem;
  }

  &__buttons {
    width: 100%;
    gap: 1rem;
    display: flex;
    justify-content: center;
  }
}
